* {
    box-sizing: border-box;
}

body {
    background-color: #1f364d;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    z-index: 0;
}

.hero {
    font-size: 6rem;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin: 15vh 0 5rem 0;
    text-align: center;
    padding: 1%;
    font-weight: 500;
}

h1,
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11rem;
    height: 11rem;
    margin: 1.5vw;
    font-size: 2rem;
    background-color: #0e2439;
    color: #fff;
    font-weight: 100;
    letter-spacing: .3rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 30px -7px;
}

.clock span {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 5rem;
}

footer p {
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    width: 12rem;
}

footer img {
    width: 5rem;
    height: 10rem;
    margin: 1rem;
    z-index: 1;
}

footer img:hover {
    width: 20rem;
    height: auto;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .7s ease-in-out;
    z-index: 1;
}

#zone {
padding-top: 4rem;
}